body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Bleu très léger */
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-image: url('image.png'); /* Remplacer par le bon chemin de l'image */
    background-size: cover; /* Pour que l'image couvre tout le header */
    background-position: center; /* Pour centrer l'image */
    height: 300px; /* Hauteur du bandeau */
    position: relative;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    width: 150px; /* Ajuster la taille du logo */
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Blanc pour contraster avec l'image de fond */
    font-weight: bold;
    font-size: 1.2em;
}

h1 {
    color: #0074a3; /* Bleu du logo */
    font-size: 2.5em;
    margin-top: 10px;
}

h2 {
    color: #f15a22; /* Orange du logo */
    margin-top: 40px;
}

section {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #0074a3; /* Rappel du bleu du logo */
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0074a3; /* Couleur du logo */
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 40px auto;
}

.team-member {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .team {
        grid-template-columns: repeat(3, 1fr);
    }
}

footer {
    background-color: #0074a3;
    color: white;
    padding: 10px;
    text-align: center;
}
/* Section Édition 2024 */
#edition2024 {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#edition2024 h2 {
    color: #f15a22; /* Orange du logo */
    font-size: 2.5em;
    margin-bottom: 20px;
}

#edition2024 p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 40px;
}

/* Galerie de photos */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery .photo {
    width: 250px;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery p {
    margin-top: 10px;
    color: #555;
}

